.places {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
  position: relative;
}

.places h1 {
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 15px;
}
.places article {
  width: 390px;
  align-self: stretch;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
  box-sizing: content-box;
}
.article_title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 55px;
}
.price_by_night {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  box-sizing: content-box;
}
.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
}
.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.icon.guest {
  background-image: url(../images/icon_group.png);
}
.icon.bed {
  background-image: url(../images/icon_bed.png);
}
.icon.bath {
  background-image: url(../images/icon_bath.png);
}
.user {
  margin: 10px 0;
}
.description {
  text-align: left;
}
.places .amenities {
  margin-top: 40px;
  display: block;
  width: 100%;
}
.amenities_title {
  text-align: left;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}
.amenities .list_of_amenities {
  margin-top: 10px;
}
.list_of_amenities li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}
.list_of_amenities li span {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.list_of_amenities li .tv_icon {
  background-image: url(../images/icon_tv.png);
}
.list_of_amenities li .wifi_icon {
  background-image: url(../images/icon_wifi.png);
}
.list_of_amenities li .pet_icon {
  background-image: url(../images/icon_pets.png);
}
.reviews {
  margin-top: 40px;
}
.reviews .reviews_title {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
}
.reviews .list_of_reviews {
  margin-top: 10px;
}
.list_of_reviews li {
  margin-bottom: 10px;
}
.list_of_reviews li h3 {
  font-size: 14px;
  margin-bottom: 2px;
}
.list_of_reviews li p {
  font-size: 12px;
  text-align: left;
}
