header {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}
header .logo {
  width: 142px;
  height: 60px;
  margin-left: 20px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 500px) {
  header {
    justify-content: center;
  }
  header .logo {
    margin-left: 0;
  }
}
